<div class="span9">
<div class="hero-unit">
<%= paginate @results %>
<p>Your search returned the following items:</p>
<% @results.each do |result| %>
  <% if result.class.name == "Book"  %>
  <ol>
  <h4><%= "#{result.name}, with the following details:" %></h4>
    <ol>
      <p>Name of Author: <%= result.author %></p>
      <p>Genre: <%= (Subsubcategory.find(result.genre)).name %></p>
      <p>ISBN number: <%= result.isbn %></p>
      <% if !(result.comment).blank? %>
      <p><%= (User.find(result.user_id)).name %> added the following comment: <%= result.comment %></p>
      <% else %>
      <p><%= (User.find(result.user_id)).name %> added no comment.</p>
      <% end %>
    </ol>
  </ol>
  <br />
  <% elsif result.class.name == "Cd" %>
  <ol>
    <h4><%= "#{result.title}, with the following details:" %></h4>
    <ol>
      <p>Name of Artist: <%= result.artist %></p>
      <p>Genre: <%= (Subsubcategory.find(result.genre)).name %></p>
      <p>This CD was released in year <%= result.year %></p>
      <% if !(result.comment).blank? %>
      <p><%= (User.find(result.user_id)).name %> added the following comment: <%= result.comment %></p>
      <% else %>
      <p><%= (User.find(result.user_id)).name %> added no comment.</p>
      <% end %>
    </ol>
  </ol>
  <% elsif result.class.name == "Game" %>
  <ol>
    <h4><%= "#{result.title}, with the following details:" %></h4>
    <ol>
      <p>Genre: <%= (Subsubcategory.find(result.genre)).name %></p>
      <p>This game is rated: <%= (Subsubcategory.find(result.rating)).name %></p>
      <% if !(result.comment).blank? %>
      <p><%= (User.find(result.user_id)).name %> added the following comment: <%= result.comment %></p>
      <% else %>
      <p><%= (User.find(result.user_id)).name %> added no comment.</p>
      <% end %>
    </ol>
  </ol>
  <% end %>
<% end %>
</div>
</div><!--/row-->
