<% provide(:title, 'New') %>
<div id="page_wrapper">
<div id="sidebar">
<%#= debug(params) if Rails.env.development? %>
</div>
<div id="content">
<h1>Create Student Account</h1>
<p>Find me in app/views/students/new.html.erb</p>
<!-- i shld create a test for this to check if dere is actually a model dat matches d form i am creating -->
<%= form_for(@student) do |f| %>
	<%= render 'shared/error_messages' %>

	<%= f.label :name %>
	<%= f.text_field :name %> <br />

	<%= f.label :student_id, "Student ID" %>
	<%#= f.label :student_id %>
	<%= f.text_field :student_id %> <br />

	<%= f.label :password %>
	<%= f.password_field :password %> <br />

	<%= f.label :password_confirmation, "Confirmation" %>
	<%#= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %> <br />

	<%= f.submit "Create Account", class: "btn" %>
<% end %>
<br />
<%= link_to "Sign Up", signup_path, class: "btn"  %>
</div>
</div>
