<% provide(:title, 'Edit User Page') %>
	<h1>Edit User Page</h1>
	<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>
		<%= f.label :email %>
		<%= f.text_field :email %> <br />
		<%= f.label :password %>
		<%= f.password_field :password, placeholder: "Password (minimum of 7 characters)" %> <br />
		<%= f.label :password_confirmation, "Confirmation" %> 
		<%= f.password_field :password_confirmation, placeholder: "Password (minimum of 7 characters)" %><br />
		<%= f.label :address %>
		<%= f.text_field :address %><br />
		<%= f.label :postcode %>
		<%= f.text_field :postcode %> <br /><br />
		<%= f.submit "Save Changes", class: "btn" %>
	<% end %>

