<% provide(:title, 'Show User Page' ) %>
<%# provide(:title, current_user ) %> <!-- #crazy this worked -->
    <div class="span9">
        <div class="hero-unit">
			<h1>Welcome <%= current_user.email %></h1>
			<h2>Libraries Near You</h2>
			<h2>Instead of using postcode it makes more sense if i use d name or address of d place...Makes it all easy</h2>
			<p>Few issues: i av  more dan one address showing all of the maps on one page wld b to crowded and also might not work properly... dats y i am getting an error message...<br />Restructure Layout</p>
				<ul>
					<% @libraries.each do |va| %>
						<h3><%= va.name %><%= link_to "[View on map]", search_path("#{va.name} " + "#{va.postcode}"), {:style => 'color:red;'} %></h3>
						<li class="odd"><%= "#{va.address},"+" #{va.postcode}" %>
					
						
						 <!--<div id="user_map_canvas"></div> 
						<%= javascript_tag do  %>
								window.print_postcode = "<%=j p %>";
								<!-- prompt(window.print_postcode); 
								console.log(window.print_postcode);
						<% end %> -->
						</li>
						<li class="even"><%= mail_to "#{va.email}", va.email, {:style => 'color:blue;'}  %> </li>
						<li class="odd"><%= "#{va.dialling}" + "#{va.telephone}" %></li>
						
						<li class="even">Acess: <%= va.access_details %></li>
						
						<br />
						<br />
					<% end %>
				</ul>

<!-- DUMMY TEST -->
<div id="users" data-url="<% users_url %>">
</div>
<%#= link_to "Users", users_path %>
<!-- DELETE -->


			<div id="map_canvas">
				<h3>Map Comes Here</h3>
	        </div>
		</div><!--/row-->
  </div>
