<%= provide(:title, 'Welcome') %>
			<h1>Welcome to Aberdeen Search</h1>
    <%= form_tag("/search", :method => "get") do %>
    <%= label_tag(:search, "Your Post Code?") %>
    <%= text_field_tag(:search, nil, placeholder: "E.g. AB24 1WU") %>
    <%= submit_tag("Search") %>
    <% end %>
    <br />
    <br />
<p style="text-align: center" >Don't have an account? <br /><br /> <%= link_to "Create one now!", signup_path, class: "btn" %></p>
</div>