 </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">

            
            <% if logged_in? %>
              
               <% if current_user.admin? && !current_user?(:user) %>
               <li class="navbar-text pull-right"><%= link_to "View Users", users_path, class: 'brand'  %></li> 
               
                <%= render 'layouts/default' %>

               <% else %> 

                <%= render 'layouts/default' %>
                
            
              <%end%> 

            <% else %>

            <ul class="nav">
            <li class="navbar-text pull-left"><%= link_to "Aberdeen Locator", root_path, class: "brand" %></li>

            <% end %>
            </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <div class="row-fluid"> 