<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"></li>
	<%= form_for(:session, url: sessions_path) do |f| %>
		<%= f.label :email %>
		<%= f.text_field :email %> <br />
		<%= f.label :password %>
		<%= f.password_field :password %><br />
		<%= f.submit "Log In", class: "btn" %>
	<% end %>
<p>Don't have an account? <br /><br /> <%= link_to "Create one now!", signup_path, class: "btn" %></p>
    </ul>
    <br />
  </div><!--/.well -->
</div><!--/span3--> 

